.Payment-header{
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);
}
.payment{
    padding: 40px;
}
.flex{
    display: flex;
    gap: 20px;
    padding: 30px;
}
.flex h3{
    min-width: 300px;
}
.flex img{
    width: 80px !important;
}
.flex div{
    height: auto !important;
}
.paymentCardContainer{
    max-width: 350px;
    width: 100%;
}
/* .paymentDetails{
    font-size: 20px;
} */
.paymentPrice{
    padding: 20px;
}
.paymentPrice > div{
    display: flex;
    font-size: 16px;
    gap: 10px;
}
.paymentDetails button{
    width: 100%;
    margin-top: 15px;
    padding: 8px 10px;
    background-color: var(--prime-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.paymentDetails button:hover{
    background-color: var(--prime-shade);
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(52, 52, 52);
}

@media screen and (max-width: 768px){
    .flex{
        flex-direction: column;
    }
}
